@import url('https://fonts.googleapis.com/css?family=Kanit:600,600i,700,700i,800,800i,900,900i|Montserrat+Alternates:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

$mont: 'Montserrat', sans-serif;;
$montAlt: 'Montserrat Alternates', sans-serif;
$kanit: 'Kanit', sans-serif;

$darkBlue: #00000F;
$gold: #CCA70A;
$silver: #C0C0C0;
$purple2: #2A002B;
$Lightblue: #00AAFF;
$red2: #a63034;
$black2: #0C0C0C;
$gray2: #606060;